body {
    overflow-y: hidden;
    overflow-x: hidden;

#img {
    height: 100vh;
}

.nerd-button {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    background: #f2f2f2;
    border: 2px solid #007acc;
    color: #007acc;
    /*padding: 15px 25px;*/
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

#Give-Options-fun, #Give-Options-nerd {
    width: calc((100vw - (100vh * (522 / 856)))/2);
}

.nerd-button:hover {
    background: #007acc;
    color: #ffffff;
}

.fun-button {
    font-family: "Verdana", sans-serif;
    background: black;
    color: #0ff;
    border: 2px solid #0ff;
    /*padding: 15px 25px;*/
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 8px;
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #00ffff;
    box-shadow: 0 0 10px #00ffff, inset 0 0 10px #00ffff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.fun-button:hover {
    color: #ff0;
    border-color: #ff0;
    text-shadow: 0 0 5px #ff0, 0 0 10px #ffff00, 0 0 20px #ffff00;
    box-shadow: 0 0 20px #ffff00, inset 0 0 10px #ffff00;
}